<ion-content>
  <div class="container ion-padding">

    <div class="auth-content">

      <!-- Logo -->
      <ion-img class="logo" src="../../../../assets/images/company.png"></ion-img>

      <!-- Login form -->
      <form class="list-form" [formGroup]="forgotPasswordForm">

        <!-- 
        <ion-item class="form-control" lines="none">
          <ion-label>{{ 'LABELS.ENTER_USERNAME' | translate }}</ion-label>
          <ion-input name="email" type="email" required></ion-input>
          <ion-icon slot="end" name="mail-outline"></ion-icon>
        </ion-item> -->

        <app-custom-input [customInput]="'animated fadeInUp'" [inputName]="'email'" [iconName]="'mail-outline'"
          [label]="'LABELS.EMAIL' | translate" [formInstant]="forgotPasswordForm">
        </app-custom-input>




        <ion-button class="btn-login" (click)="submit()" expand="block">
          {{ 'LABELS.SUBMIT_BUTTON' | translate }}
        </ion-button>

        <div class="reste-password">
          <a routerLink="/login">
            {{ 'LABELS.BACK_BUTTON' | translate }}
          </a>
        </div>


      </form>

    </div>

  </div>
</ion-content>