
<ion-content>

  <!-- ...................... select .......................-->
  <ng-container *ngFor="let item of tabs" >
    <ng-container *ngIf="item?.selected">
      <ng-content *ngIf="item.type == showTabs.Info" select="[information]" ></ng-content>
      <ng-content *ngIf="item.type == showTabs.History" select="[history]" ></ng-content>
      <ng-content *ngIf="item.type == showTabs.Memo" select="[memo]" ></ng-content>
      <ng-content *ngIf="item.type == showTabs.AgendaCommercial" select="[agendaCommercial]" ></ng-content>
    </ng-container>
  </ng-container>
  <!-- .................................................... -->

</ion-content>

<!-- .................................................... -->
<app-tabs-detail [tabs]="tabs" (selectedEvent)="tabs=$event" ></app-tabs-detail>
<!-- .................................................... -->